figure-size = 32px;

.sites {
  padding: 15px;

  li {
    clearfix();
    margin: 10px 0;

    figure {
      background-color: error-color;
      border: solid 3px darken(error-color, 20%);
      border-radius: 50%;
      box-sizing: border-box;
      float: left;
      width: figure-size;
      height: figure-size;
    }

    &.available figure {
      background-color: success-color;
      border-color: darken(success-color, 20%);
    }

    p {
      font-size: 1.2em;
      line-height: figure-size;
      margin: 0 0 0 figure-size + 10;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

edit-size = 42px;

.edit-surface {
  position: absolute;
  top: 0;
  right: 0;
  width: edit-size;
  height: edit-size;

  .editing & {
    display: none;
  }
}

a.edit-sites {
  &:before {
    border-top: solid 25px rgba(255,255,255,0.3);
    border-right: solid 25px rgba(255,255,255,0.3);
    border-bottom: solid 25px transparent;
    border-left: solid 25px transparent;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
  }

  color: rgba(255,255,255,0.5);
  display: none;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: edit-size - 14;
  height: edit-size - 14;
  line-height: edit-size - 14;

  &:hover,
  &:focus {
    color: rgba(255,255,255,0.8);
  }
}

.edit-surface:hover a.edit-sites {
  display: block;
}
