figure-size = 32px;

.sites {
  padding: 15px;

  li {
    clearfix();
    margin: 10px 0;

    figure {
      background-color: error-color;
      border: solid 3px darken(error-color, 20%);
      border-radius: 50%;
      box-sizing: border-box;
      float: left;
      width: figure-size;
      height: figure-size;
    }

    &.available figure {
      background-color: success-color;
      border-color: darken(success-color, 20%);
    }

    p {
      font-size: 1.2em;
      line-height: figure-size;
      margin: 0 0 0 figure-size + 10;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
