<ul>
  {{#each sites}}
    <li {{bind-attr class="available"}}>
      <figure></figure>

      <p>{{displayName}}</p>
    </li>
  {{/each}}
</ul>

<div class="edit-surface">
  <a class="edit-sites" {{action 'edit'}} href="#">
    <i class="fa fa-cog"></i>
  </a>
</div>

{{outlet}}
