<ul>
  {{#each sites}}
    <li>
      {{#if available}}
        <i class="fa fa-thumbs-o-up"></i>
      {{else}}
        <i class="fa fa-thumbs-down"></i>
      {{/if}}

      {{displayName}}
    </li>
  {{/each}}
</ul>

{{outlet}}
